h2
  font-size: 28px

mat-card-title
  font-size: 20px
  font-weight: 400
  margin-bottom: 24px

mat-card-content
  font-size: 20px
  font-weight: 500

  span
    font-size: 24px
    font-weight: 400
