<h2>Messages: </h2>
<div *ngIf="!isFetching; else loading" fxLayoutGap="16px grid">
  <div class="div" *ngFor="let message of messages">
    <mat-card>
      <mat-card-title>{{ message.datetime }}</mat-card-title>
      <mat-card-content>
        <p>Author: <span>{{ message.author }}</span></p>
        <p>Message: <span>{{ message.message }}</span></p>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>


