<div class="body">
  <div class="container"  fxLayout fxLayoutAlign="space-evenly">
    <div class="messages" fxLayout="column" fxFlex="65%">
      <app-messages></app-messages>
    </div>
    <div class="new-message">
      <app-new-message></app-new-message>
    </div>
  </div>

</div>
