<h2>New message</h2>
<mat-card>
  <mat-card-content>
    <form (ngSubmit)="onSubmit()" #f="ngForm" fxLayout="column">
      <mat-form-field>
        <mat-label>Author:</mat-label>
        <input name="author" matInput ngModel/>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Message:</mat-label>
        <textarea
          name="message"
          matInput
          cdkTextareaAutosize
          cdkAutosizeMinRows="3"
          ngModel
        ></textarea>
      </mat-form-field>
      <div>
        <button
          type="submit"
          mat-raised-button
          color="primary"
        >
          SAVE
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
